Repository BoltApp/bolt-magento2, pull requests merged in 2020-04, with the labels that each got.

#630 Unit test: Bolt\Boltpay\Plugin\LoginPostPlugin
  Test/Unit/Plugin/LoginPostPluginTest.php
Labels: old, test

#632 Unit Test: Bolt\Boltpay\Plugin\QuotePlugin
  Test/Unit/Plugin/QuotePluginTest.php
Labels: test

#635 Prevent Bolt order creation if the order already exists
  Helper/Cart.php
  Test/Unit/Helper/CartTest.php
Labels: bug

#629 Correct the exception class in the catch block
  Controller/Cart/Hints.php
  Test/Unit/Controller/Cart/HintsTest.php
Labels: bug

#645 Fix the exception: 'XML in file system.xml is invalid'
  etc/adminhtml/system.xml
Labels: bug

#647 [Applepay] - use correct email to skip prefill
  Helper/Cart.php
  Test/Unit/Helper/CartTest.php
Labels: bugfix

#644 Unit Test: Bolt\Boltpay\Plugin\OrderPlugin
  Test/Unit/Plugin/OrderPluginTest.php
Labels: test

#658 PPC support for products with two or more customizable options
  view/frontend/templates/button_product_page.phtml
Labels: bugfix

#660 Add bolt checkout type to quote
  Controller/Order/ReceivedUrl.php
  Helper/Cart.php
  Model/Api/CreateOrder.php
  Setup/UpgradeSchema.php
  Test/Unit/Controller/Order/ReceivedUrlTest.php
  Test/Unit/Helper/CartTest.php
  Test/Unit/Model/Api/CreateOrderTest.php
  Test/Unit/Model/Service/InvoiceServiceTest.php
Labels: enhancement

#662 Unit test: Bolt\Boltpay\Test\Unit\Model\Api\DebugInfo
  Test/Unit/Model/Api/Data/DebugInfoTest.php
Labels: test

#657 Unit Test: Bolt\Boltpay\Model\Api\Data\PluginVersion
  Test/Unit/Model/Api/Data/PluginVersionTest.php
Labels: test

#656 Unit Test: Bolt\Boltpay\Model\Api\Data\BoltConfigSetting
  Test/Unit/Model/Api/Data/BoltConfigSettingTest.php
Labels: test

#654 Unit Test: Bolt\Boltpay\Plugin\PurchasePlugin
  Test/Unit/Plugin/Mirasvit/Rewards/Model/PurchasePluginTest.php
Labels: test

#663 PPC button missing in IE fix
  view/frontend/templates/button_product_page.phtml
Labels: bugfix
