Repository BoltApp/bolt-magento2, pull requests merged in 2020-03, with the labels that each got.

#597 fix promise return value in barrier
  view/frontend/templates/js/replacejs.phtml
Labels: bugfix

#605 Unit test: Bolt\Boltpay\Block\Checkout\ComponentSwitcherProcessor
  Test/Unit/Block/Checkout/ComponentSwitcherProcessorTest.php
Labels: test

#590 Unit Test: Bolt\Boltpay\Model\Service\InvoiceService
  Test/Unit/Model/Service/InvoiceServiceTest.php
Labels: old, test

#589 Unit test: Bolt\Boltpay\Model\ErrorResponse
  Test/Unit/Model/ErrorResponseTest.php
Labels: old, test

#571 Don't empty cart after successful PPC checkout (w/o preauth)
  Controller/Order/Save.php
  Test/Unit/Controller/Order/SaveTest.php
Labels: old

#607 Unit Test: Bolt\Boltpay\Controller\Adminhtml\Order\ReceivedUrl
  Test/Unit/Controller/Adminhtml/Order/ReceivedUrlTest.php
Labels: test

#588 Unit Test: Bolt\Boltpay\Model\ThirdPartyModuleFactory
  Test/Unit/Model/ThirdPartyModuleFactoryTest.php
Labels: old, test

#581 Show CC Type, CC Last 4 in the admin order detail page
  Block/Adminhtml/Order/View/Tab/Info.php
  Test/Unit/Block/Adminhtml/Order/View/Tab/InfoTest.php
  view/adminhtml/layout/sales_order_view.xml
  view/adminhtml/templates/order/view/tab/info/payment.phtml
Labels: old

#615 Unit Test: Bolt\Boltpay\Setup\RecurringData
  Test/Unit/Setup/RecurringDataTest.php
Labels: test
